.item__container {
  background-color: rgb(194, 194, 194);
  font-family: var(--font-family);
}

.item__container td:nth-child(2) {
  text-align: center;
}

.item__container-actions {
  display: flex;
  justify-content: space-around;
}

.item__container-actions button {
  outline: none;
  border: none;

  padding: 10px 30px;
  cursor: pointer;

  color: white;
}

.item__container-actions button:nth-child(1) {
  background-color: rgb(255, 0, 0);
}

.item__container-actions button:nth-child(2) {
  background-color: rgb(0, 122, 163);
}
