@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth;
}

.content {
  margin-left: 80px;
  padding: 1rem;
  height: 90vh;
  z-index: 20;
}

.section__padding {
  padding: 2rem 6rem;
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 1rem 1rem;
  }
}

.gradient-bg {
  background: -moz-linear-gradient(
    150deg,
    rgba(47, 32, 160, 1) 0%,
    rgba(7, 6, 70, 1) 100%
  );

  background: -webkit-linear-gradient(
    150deg,
    rgba(47, 32, 160, 1) 0%,
    rgba(7, 6, 70, 1) 100%
  );

  background: -o-linear-gradient(
    150deg,
    rgba(47, 32, 160, 1) 0%,
    rgba(7, 6, 70, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070646', endColorstr='#2F20A0', GradientType=1 );

  background: -ms-linear-gradient(
    150deg,
    rgba(47, 32, 160, 1) 0%,
    rgba(7, 6, 70, 1) 100%
  );

  background: linear-gradient(
    150deg,
    rgba(47, 32, 160, 1) 0%,
    rgba(7, 6, 70, 1) 100%
  );
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

:root {
  --yellow: #d89925;
  --blue: #0a92dd;
  --dark-blue: #0b0641;
  --text-transistion: all ease 0.1s;
  --font-family: Montserrat;
}

@media screen and (max-width: 320px) {
  .content {
    margin-left: 45px;
  }
}
